<button onclick={{action "toggleVisibility"}}>
  {{yield}}
</button>

{{#if header}}
  <h2 class="notification-header">{{header}}</h2>
{{/if}}

{{#if renderNotifications}}
  <ol class="notifications">
    {{#each topNotifications as |notification|}}
      <li class="{{if notification.important 'important'}}
                 {{unless notification.seen 'new'}}">
        <span class="message">
          {{notification.message}}
        </span>
        <span class="date">
          {{notification.creationDate}}
        </span>
      </li>
    {{else}}
      <li class="empty">
        <span>
          {{noNotificationMessage}}
        </span>
      </li>
    {{/each}}
  </ol>
{{/if}}
